.header {
  width: 100%;
  position: absolute;
  top: 11px;
  z-index: 4;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }

  &__link{
    position: relative;
    &:after{
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 2px;
      background: var(--hover-line-color);
      transition: 0.3s;
    }

    &:hover:after{
      width: 100%;
    }
  }

  &__title {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 102.9%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
  }
}

.nav-toggle {
  display: none;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu.open {
  transform: translateX(0);
}

.bar {
  position: relative;
  width: 32px;
  height: 2px;
  background: #FFFFFF;
}
.bar::before, .bar::after {
  content: "";
  position: absolute;
  height: 2px;
  background: #FFFFFF;
  border-radius: 2px;
  transition: all .45s ease-in-out;
}

.bar::before {
  width: 100%;
  transform: translateY(-8px);
  right: 0;
}
.bar::after {
  width: 100%;
  transform: translateY(8px);
}
.open .bar {
  background: transparent;
  transform: translateX(-40px);
}
.open .bar::before {
  width: 100%;
  transform: rotate(45deg) translate(26px, -26px);
}
.open .bar::after {
  width: 100%;
  transform: rotate(-45deg) translate(26px, 26px);
}
.panel{
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &__user-wrapper{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    overflow: hidden;

    &.close{
      display: none;
    }
  }
  &__user{
    width: 17px;
    padding-top: 5px;
  }
  
  &__like-item{
    position: relative;
  }
  
  &__quantity{
    position: absolute;
    background: var(--title-color);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 8px;
    top: -5px;
    left: 18px;
    font-family: Poppins, sans-serif;
    color: var(--body-bg);
    font-size: 12px;
  }
}

.user{
  cursor: pointer;
  position: relative !important;
  &__name{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--title-color);
    background: #4646e0;
    border-radius: 50%;
    padding: 3px 5px;
    text-transform: capitalize;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  }
}

@media (max-width: 860px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    transition: all .45s;
    background: #000000;
    overflow-y: scroll;
  }
  .menu__item {
    margin: 0 auto;
    flex-direction: column;
  }
  .nav-toggle {
    display: flex;
  }
}