.about{
  width: 100%;
  min-height: 100vh;
  background: var(--hero-bg-linear1),
  url("../static/img/туман.png") no-repeat 75%/contain,
  url("../static/img/уй сурот.png")  no-repeat right/28% 100%,
  url("../static/img/архитектур и дизайн сурот.png") no-repeat center/cover;
  display: block;
  justify-content: space-between;
  align-items: start;
  &__wrapper{
    width: 100%;
    padding-top: 35px;
  }
  &__title{
    width: 48% !important;
    line-height: 165% !important;
  }
  &__subtitle{
    padding-top: 90px;
  }
}
.about-desc{
  background: #FFFFFF;
  margin: 0 !important;
}
.partner-wrapper{
  margin: 70px 0;
  &__image{
    width: 100%;
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 45px;
  }
  &__subtitle{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 2em;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 160.4%;
    color: rgba(0, 0, 0, 0.62);
  }
}
.video-player {
  position: relative;
}
.video{
  margin-left: -50px;
}

.play-icon {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
}

.play-icon.hide {
  display: none;
}
.all-des{
  background: #FFFFFF;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  &__title{
    font-family: 'Gothic A1',sans-serif;
    font-style: normal;
    font-weight: 275;
    font-size: 40px;
    line-height: 102.9%;
    text-align: center;
    color: #000000;
    padding: 90px;
  }
  &__des{
    font-family: 'Gothic A1',sans-serif;
    font-weight: 250;
    font-size: 24px;
    line-height: 170.9%;
    color: #2d2c2c;
  }
  &__gallery{
    flex-direction: column-reverse;
    width: 850px;
    &__item{

    }
  }
}

