.hero{
  width: 100%;
  height: 100vh;
  position: relative;
  &__video{
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__over-play{
    background: var(--hero-bg-linear1);
    height: 100%;
    width: 100%;
    top:0;
    left: 0;

  }
  &__items{
    display: flex;
    justify-content: space-between;
    margin-top: -200px;
    gap: 22rem
  }
  &__description{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    margin-top: -350px;
  }
  &__item{
    position: relative;
    &:after{
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 0;
      height: 2px;
      background: var(--hover-line-color);
      transition: 0.3s;
    }
    &:hover:after{
      width: 100%;
    }
  }
  &__category{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 102.9%;
    text-align: center;
    letter-spacing: 8px;
    color: var(--title-color);
  }
}

@media (max-width: 1200px){
  .hero{
    background: var(--hero-bg-linear1),
    url("../static/img/туман.png") no-repeat 68%/contain,
    url("../static/img/уй сурот.png")  no-repeat right/35% 100%,
    url("../static/img/архитектур и дизайн сурот.png") no-repeat center/cover;
    &__items{
      gap: 18rem;
    }
  }
}
.main-title{
  position: relative;
  width: 100%;
  z-index: 3;
  &__title-hero{
    width: 550px;
    padding-top: 176px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: 132.4%;
    letter-spacing: 8px;
    color: #ffae00;
  }
  &__desc-hero{
    width: 650px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
    font-size: 38px;
    line-height: 132.4%;
    color: var(--title-color);
    letter-spacing: 8px;
    text-transform: uppercase;
  }
}

@media (max-width: 1024px){
  .hero{
    background: var(--hero-bg-linear1),
    url("../static/img/туман.png") no-repeat 67%/contain,
    url("../static/img/уй сурот.png")  no-repeat right/37% 100%,
    url("../static/img/архитектур и дизайн сурот.png") no-repeat center/cover;
    &__items{
      gap: 15rem;
    }
  }
}

@media (max-width: 990px){
  .hero{
    background: var(--hero-bg-linear1),
    url("../static/img/туман.png") no-repeat 66%/contain,
    url("../static/img/уй сурот.png")  no-repeat right/37% 100%,
    url("../static/img/архитектур и дизайн сурот.png") no-repeat center/cover;
    &__items{
      gap: 13rem;
    }
  }
}

@media (max-width: 824px){
  .hero{
    background: var(--hero-bg-linear1),
    url("../static/img/туман.png") no-repeat 66%/contain,
    url("../static/img/уй сурот.png")  no-repeat right/37% 100%,
    url("../static/img/архитектур и дизайн сурот.png") no-repeat center/cover;
    &__items{
      gap: 10rem;
    }
  }
}

@media (max-width: 770px){
  .hero{
    background: var(--hero-bg-linear1),
    url("../static/img/туман.png") no-repeat 70%/contain,
    url("../static/img/уй сурот.png")  no-repeat right/35% 100%,
    url("../static/img/архитектур и дизайн сурот.png") no-repeat center/cover;
    &__items{
      gap: 8rem;
    }
  }
}

@media (max-width: 700px){
  .hero{
    height: 1200px;
    background: var(--hero-bg-linear1),
  url("../static/img/image 77.png")  no-repeat bottom/100% 35%,
  url("../static/img/image 75.png")  no-repeat  center/100% 35%,
  url("../static/img/image 76.png")  no-repeat top/100% 35%;
    &__items{
      flex-direction: column;
      margin-bottom: 60px;
      gap: 23rem;
    }
  }
}

@media (max-width: 480px){
  .hero {
    height: 1000px;
    background: var(--hero-bg-linear1),
    url("../static/img/image 77.png") no-repeat bottom/100% 35%,
    url("../static/img/image 75.png") no-repeat center/100% 35%,
    url("../static/img/image 76.png") no-repeat top/100% 35%;
    &__items{
      margin-bottom: 60px;
      gap: 19rem;
    }
  }
}