.detail {
  width: 100%;
  min-height: 100vh;
  margin-top: 80px;
  background: var(--title-color);
  padding-top: 40px;
  padding-bottom: 50px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: var(--body-bg);
  }

  &__short-info {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
  }

  &__images {
    border-radius: 20px;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
  }

  &__column2 {
  display: grid;
  }

  &__bottom{
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  &__designs{
    width: 100%;
    height: 700px;
  }
}