.detail {
  width: 100%;
  margin-top: 80px;
  background: var(--title-color);
  padding-top: 40px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  &__information {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__name {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: var(--body-bg);
  }

  &__sort {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__short-info {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__images {
    border-radius: 20px;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
  }

  &__column2 {
    display: grid;
  }

  &__bottom {
    padding: 30px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__stars {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .detail {
    &__bottom {
      grid-template-columns: 1fr 1fr;
    }
  }

  .architect {
    &__image {
      width: 90%;
      height: 90%;
    }
  }
}

@media (max-width: 520px) {
  .detail {
    &__bottom {
      grid-template-columns: 1fr;
    }
  }

  .architect {
    &__image {
      width: 90%;
      height: 90%;
    }
    &__main {
      margin: 24px 0;
    }
  }
}