.contact{
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__bar{
    padding-top: 90px ;
    width: 100%;
  }
  &__nav{
    &__title{
      font-family: 'Ubuntu',sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 110.9%;
      text-align: center;
      color: rgba(0, 0, 0, 0.86);
    }
  }
  &__menu{
    display: flex;
  }
  &__des{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
  }
  &__text{
    width: 250px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 170.9%;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 16px;
  }
}
.descriptions{
  width: 150px;
  margin-top: 40px;
  &__consultation{
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 420.9%;
    color: rgba(0, 0, 0, 0.8);
  }
}

@media (max-width: 1260px){
  .contact{
    justify-content: space-around;
  }
}

@media (max-width: 1024px){
   .contact{
     justify-content: space-around;
   }
}

@media (max-width: 990px){
  .contact{
    display: flex;
    flex-direction: column;
    &__bar{
      width: 100%;
      padding-top: 5rem;
    }
    &__menu{
      display: flex;
      width: 100%;
      justify-content: space-around;
    }
    &__nav{
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
    }
  }
}
@media (max-width: 520px){
  .contact{
    &__menu{
      flex-direction: column;
    }
    &__des{
      justify-content: center;
    }
  }
  .descriptions{
    width: 100%;
    justify-content: center;
    display: flex;
  }
}
@media (max-width: 480px){

}
