.common{
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  &::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: var(--hero-bg-linear3);
    z-index: 1;
  }
  &::before{
    content:"";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1400px;
    background: var(--hero-bg-linear2);
    z-index: 2;
  }
  &__background{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--hero-bg-linear3);
    object-fit: cover;
    pointer-events: none;
  }
  &__wrapper{
    position: relative;
    width: 100%;
    z-index: 3;
  }
  &__title{
    width: 550px;
    padding-top: 176px;
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 132.4%;
    color: var(--title-color);
    letter-spacing: 8px;

  }
  &__subtitle{
    margin-top: 30px;
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 118.9%;
    color: var(--title-color);
    letter-spacing: 1px;
  }
  &__arrow{
    position: absolute;
    bottom: 70px;
    right: 0;
    left: 0;
    z-index: 3;
    animation: arrow 2s ease-in infinite;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.arrow-icon{
  width: 70px;
}

.hide-on-scroll {
  display: none;
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1240px){
 .common{
   &__title{
     margin-left: 80px;
   }
   &__subtitle{
     margin-left: 80px;
   }
   &__arrow{

   }
 }
}

@media (max-width: 990px){
  .common{
    &__title{
      width: 450px;
      font-size: 30px;
    }
    &__subtitle{
      font-size: 15px;
    }
  }
}

@media (max-width: 700px){
  .common{
    &__title{
      margin-left: 40px;
      width: 402px;
      font-size: 26px;
    }
    &__subtitle{
      margin-left: 40px;
    }
  }
}

@media (max-width: 480px){
  .common{
    &__title{
      width: 400px;
      font-size: 24px;
    }
    &__subtitle{
      font-size: 13px;
    }
  }
}


@media (max-width: 420px){
  .common{
    &__title{
      width: 300px;
      font-size: 19px;
    }
    &__subtitle{
      font-size: 12px;
    }
  }
}