@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
$Rubik: "Rubik",sans-serif;

:root {
    --hero-bg-linear1: linear-gradient(104.36deg, #071E28 0%, rgba(16, 39, 49, 0.5) 25.09%, rgba(26, 48, 57, 0.39) 48.44%, rgba(2, 29, 40, 0.61) 94.79%);
    --hover-line-color: #D9D9D9;
    --title-color: #FFFFFF;

}

body{
    font-family: 'Mulish', sans-serif;
}