.table{
  width: 82vw;
  min-height: 90vh;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
  padding-bottom: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    width:  100%;
    background-color: #fff4;
    padding: .8rem 1rem;

    &::-webkit-scrollbar{
      width: 0.5rem;
      height: 0.5rem;
    }

    &::-webkit-scrollbar-thumb{
      border-radius: .5rem;
      background-color: #0004;
      visibility: hidden;
    }

    &:hover::-webkit-scrollbar-thumb{
      visibility: visible;
    }
  }

  &__body{
    width:  95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;

    &::-webkit-scrollbar{
      width: 0.5rem;
      height: 0.5rem;
    }

    &::-webkit-scrollbar-thumb{
      border-radius: .5rem;
      background-color: #0004;
      visibility: hidden;
    }

    &:hover::-webkit-scrollbar-thumb{
      visibility: visible;
    }
  }

  &__main{
    width: 100%;
  }
  &__img{
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
    object-fit: cover;
  }
  &__main,
  &__category-name,
  &__item {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__item{
    position: relative;
  }

  &__category-name{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
  }

  &__list:nth-child(even){
    background-color: #0000000b;
  }

  &__list:hover{
    background-color: #fff6;
    border-radius: .5rem;
  }
  &__button{
    margin: 0 2px;
    border: none;
    background: none;
    cursor: pointer;
  }
  &__filter{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

}

.online{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
}

@media (max-width: 1024px) {
  .table{
    &__header {
      display: block;
    }

    &__filter{
      margin-top: 20px;
    }

    &__item{
      &:not(:first-of-type){
        min-width: 12.1rem;
      }
    }
  }
}


@media (max-width: 825px) {
  .table{
    &__header{
      display: block;
    }
    &__filter{
        margin: 20px 0;
    }
  }
}

@media (max-width: 720px) {
  .table{
    &__filter{
      display: grid;
    }
  }
}