.company{
    position: relative;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    &__table {
        margin: 30px auto;
        width: 95% !important;
    }
    &__header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }
    &__card{
        width: 90%;
        height: 100px;
        margin-top: 20px;
        background: #d22525;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
        border-radius: 10px;
    }
    &__card-title{
        font-family: "Rubik", sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: var(--title-color);
    }
    &__card-subtitle{
        margin-top: 10px;
        font-family: "Rubik", sans-serif;
        font-size: 17px;
        font-weight: 400;
        color: var(--title-color);
    }
    &__card-number{
        margin-top: 10px;
        font-family: "Rubik", sans-serif;
        font-size: 17px;
        font-weight: 400;
        color: var(--title-color);
    }
    &__contact{
        margin-left: 20px;
        color: var(--title-color);
    }
    &__contact-text{
        color: var(--title-color);
    }
    &__icon{
        fill: var(--title-color) !important;
    }

    &__add-btn {
        margin-right: 10px;
        border: none;
        background: var(--title-color);
        color: var(--body-bg);
        font-weight: bold;
        transition: .2s;

        &:hover {
            background: var(--body-bg);
            color: var(--title-color);
        }
    }

    &__bar{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: flex-end;
    }
}

.admins{
    background: #96c50a;
}

.users{
    background: #0000FF;
}