.company {
  position: relative;
  min-height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;

  &.close {
    left: 78px;
    width: calc(100% - 78px);
  }

  &__table {
    margin: 30px auto;
    width: 95% !important;
    padding-bottom: 20px;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

  &__card {
    width: 90%;
    height: 100px;
    margin-top: 20px;
    background: #d22525;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    border-radius: 10px;
  }

  &__card-title {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--title-color);
  }

  &__card-subtitle {
    margin-top: 10px;
    font-family: "Rubik", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: var(--title-color);
  }

  &__card-number {
    margin-top: 10px;
    font-family: "Rubik", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: var(--title-color);
  }

  &__contact {
    margin-left: 20px;
    color: var(--title-color);
  }

  &__contact-text {
    color: var(--title-color);
  }

  &__icon {
    fill: var(--title-color) !important;
  }

  &__add-btn {
    margin-top: 100px;
    border: none;
    background: var(--title-color);
    color: var(--body-bg);
    font-weight: bold;
    transition: .2s;

    &:hover {
      background: var(--body-bg);
      color: var(--title-color);
    }
  }

  &__bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: flex-end;
  }
}

.admins {
  background: #96c50a;
}

.users {
  background: #0000FF;
}

@media (max-width: 990px) {

  .company {
    .company__header {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 880px) {

  .company {
    left: 78px;
    width: calc(100% - 78px);
  }

}

@media (max-width: 720px) {

  .company {

    &__des{
      margin-left: 60px;
    }

    &__header {
      display: block;
      margin-left: 50px;
    }

    &__bar {
      grid-template-columns: 0fr;
      justify-content: center;
      align-items: center;
    }

    &__menu{
      display: block !important;
    }

    &__add-btn {
      margin-top: 20px;
    }

    &__description{
      margin-left: 95px;
    }
  }
}

@media (max-width: 520px) {

  .company {
    &__description {
      display: block !important;
    }
  }
}

@media (max-width: 520px) {

  .company {
    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: 0;
    }
  }
}