.accordions{
  position: relative;
  &__wrapper{
    position: relative;
    margin-top: 70px;
    &:after{
      position: absolute;
      content: "";
      left: 300px;
      width: 70%;
      height: 0px;
      border: 1px solid rgba(0, 0, 0, 0.35);
      transform: rotate(-0.43deg);
    }
  }
  &__heading{
    margin: 30px 300px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row-reverse;
  }
  &__question{
    position: relative;
    margin-left: 30px;
    font-family: 'Roboto Mono', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 102.9%;
    color: rgba(0, 0, 0, 0.87);
    transition: .5s;
  }
  &__subtitle{
    margin-left: 300px;
    display: none;
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 254.9%;
    color: rgba(0, 0, 0, 0.31);
    &.active{
      display: block;
    }
  }
}